---
namespace: "development"
environment: "development"

networkPolicy:
  enabled: false

postgresql:
  enabled: true
  fullnameOverride: "database"
  image:
    registry: docker.io
    repository: bitnami/postgresql
    tag: "latest"
  auth:
    postgresPassword: "devpassword123"
    username: "postgres"
    password: "devpassword123"
    database: "postgres"
  primary:
    initdb:
      scripts:
        init.sql: |
          CREATE TABLE IF NOT EXISTS main_table (
              id SERIAL PRIMARY KEY,
              task VARCHAR(255) NOT NULL
          );
    persistence:
      enabled: true
      size: 10Gi
    resources:
      requests:
        cpu: "250m"
        memory: "256Mi"
      limits:
        cpu: "500m"
        memory: "512Mi"
