---
namespace: "production"
environment: "production"

networkPolicy:
  enabled: true

backend:
  enabled: true
  replicaCount: 3
  name: "backend"
  serviceAccountName: "backend"
  automountServiceAccountToken: false
  labels:
    app: "backend"
    tier: "backend"
    app.kubernetes.io/name: "backend"
    app.kubernetes.io/instance: "backend"
    app.kubernetes.io/component: "backend"
  image:
    name: "galihhhp/task-services"
    tag: "2.0.0"
    pullPolicy: "IfNotPresent"
    containerPort: 3000
  service:
    type: ClusterIP
    port: 3000
    targetPort: 3000
  env:
    NODE_ENV: "production"
    DB_HOST: "database"
    DB_PORT: "5432"
    DB_NAME: "postgres"
    DB_USER: "postgres"
    DB_COLUMN_ID: "id"
    DB_COLUMN_TASK: "task"
    FEATURE_EDIT_TASK: "true"
    FEATURE_DELETE_TASK: "true"
    FEATURE_REDIS_CACHE: "false"
  secrets:
    - name: DB_PASSWORD
      secretName: database
      key: postgres-password